<config>
  <camera>
    <zoom>500</zoom>
    <exposure>20</exposure>
    <focus>120</focus>
  </camera>
   <mes>
    <Customer>INGENICO</Customer>
    <Division>INGENICO</Division>
    <SerialNumber>P0750B011321A15430</SerialNumber>
    <AssemblyNumber>2962203895ACCARGA</AssemblyNumber>
    <TesterName>BRBELTE010</TesterName>
    <ProcessStep>Bateria</ProcessStep>
    
  </mes> 
</config>

